html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #851053;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: #f79640;
  text-align: center;
}

header {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  top: -20px;
  left: -20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

header img {
  width: 1540px;
}

body p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}

.item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 7%;
  margin-right: 7%;
  border-bottom: #f79640 4px dashed;
}

.item img {
  width: 350px;
}

.item p {
  text-align: right;
  font-size: 40px;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
}

#itemlast {
  border-bottom: none;
}
footer {
  margin: 0;
  padding: 0;
  position: relative;
  left: -20px;
  bottom: -50px;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer img {
  width: 1550px;
  margin-bottom: -20px;
}

a {
  color: #f79640;
}

#item1 {
  width: 420px;
}
